<div class="top-wrapper">
  <div class="container">
    <h1>Shopping List</h1>
    <div>
      <a href="/signup" class="btn new-button">新規登録</a>
    </div>
    <div>
      <a href="/login" class="btn login-button">ログイン</a>
    </div>
  </div>
</div>
