<div class="page-main">
  <div class="home-content">
    <h1 class="home-content__title">Shopping List</h1>
    <button class="home-button home-button_signup">
      <a href="/signup" class="home-button__text">新規登録</a>
    </button>
    <button class="home-button home-button_login">
      <a href="/login" class="home-button__text">ログイン</a>
    </button>
  </div>
</div>
