@import "page";

/* HEADER */
.header {
  background-color: $skyblue;
  height: 64px;
  position: fixed;
  width: 100vw;
  z-index: 20;
}

.header-logo {
  float: left;
  padding-left: 30px;
  line-height: 64px;
}

.header-logo__link {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.header-logo__link:hover {
  color: $blue;
}

.header-menus {
  float: right;
  padding-right: 30px;
}

.header-menus__items {
  display: inline-block;
  float: left;
  line-height: 64px;
  padding-left: 20px;
}

.header-menus__items_link {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.header-menus__items_link:hover {
  color: $blue;
}

.show-mobile-menu {
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
}

.mobile-menu-check,
.show-mobile-menu {
  display: none;
}
