<div class="page-main">
  <div class="page-content">
    <div class="page-content__header">
      <h2 class="page-content__title">ユーザー一覧</h2>
    </div>
    <div class="page-content__main">
      <% @users.each do |user| %>
        <div class="users-index">
          <%= link_to(user.name, "/users/#{user.id}", {class: "users-index__items"}) %>
        </div>
      <% end %>
    </div>
    <a href="/posts/top" class="page-content__cancel"><span>もどる</span></a>
  </div>
</div>
