<div class="page-main">
  <div class="page-content page-content_input">
    <div class="page-content__header">
      <h2 class="page-content__title">メモ追加</h2>
    </div>
    <div class="page-content__main">
      <% @post.errors.full_messages.each do |message| %>
        <div class="errors">
          <%= message %>
        </div>
      <% end %>

      <%= form_tag("/posts/create") do %>
        <p>買うもの</p>
        <input type="text" name="name" value="<%= @post.name %>" class="page-content__input-text">
        <input type="submit" value="追加" class="button button_text">
      <% end %>
    </div>
    <a href="/posts/top" class="page-content__cancel"><span>もどる</span></a>
  </div>
</div>
