<div class="top-wrapper">
  <div class="container">
    <h1>Shopping List</h1>
    <div>
      <a href="/posts/new" class="btn new-button">メモ追加</a>
    </div>
    <div>
      <%= link_to("/users/#{@current_user.id}") do %>
        <div class="btn login-button"><%= @current_user.name %></div>
      <% end %>
    </div>
  </div>
</div>
