<div class="page-main">
  <div class="home-content">
    <h1 class="home-content__title">Shopping List</h1>
    <button class="home-button home-button_new">
      <a href="/posts/new" class="home-button__text">メモ追加</a>
    </button>
    <button class="home-button home-button_user-info">
        <%= link_to("#{@current_user.name}", "/users/#{@current_user.id}", {class: "home-button__text"}) %>
    </button>
  </div>
</div>
