$blue: #0ac4ff;
$pink: #fd6eb6;
$green: #52ff00;
$yellow: #ffd700;

@media screen and (max-width: 800px) {
  .page-main p {
    font-size: 14px;
  }

  .page-main {
    padding-top: 64px;
    text-align: center;
  }

  .page-content {
    padding: 12px 5px 0 5px;
    width: 100%;
  }

  .page-content_input {
    padding-top: 13vh;
  }

  .page-content__main {
    border: none;
    padding: 0;
  }
}
