/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @media screen and (min-width: 801px) {
   .nav-links a,
   .show-mobile-menu {
     font-size: 0.8rem;
     font-weight: bold;
     text-decoration: none;
   }

   .mobile-menu-check,
   .show-mobile-menu {
     display: none;
   }

   .header-menus li {
     display: inline-block;
     float: left;
     line-height: 64px;
     padding-left: 15px;
   }

   .index-container {
     width: 80%;
     min-width: 360px;
     max-width: 720px;
     margin: 0 auto;
     padding-top: 30vh;
   }
 }

 @media screen and (max-width: 800px) {
   .top-wrapper h1 {
     font-size: 24px;
   }

   .top-wrapper p {
     font-size: 14px;
   }

   .top-wrapper {
    padding-top: 64px;
    text-align: center;
   }

   .btn {
     width: 100%;
   }

   .container {
    height: 100%;
    max-width: 800px;
    text-align: center;
  }

  .show-mobile-menu {
    display: block;
    float: right;
    margin-top: 1.5vh;
    padding: 0.8em 30px;
    position: relative;
  }

  .header-menus {
    background-color: rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    left: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 64px;
    transition: all 0.5s ease-in-out;
    width: 100vw;
    z-index: 9;
  }

  .header-menus li {
    color: #fff;
    display: block;
    margin-top: 1em;
  }

  .header-menus li ~ li {
    border: 0;
    padding: 0;
  }

  .header-menus li:last-child {
    margin-bottom: 1em;
  }

  /* HIDE DROPDOWN IN THE NAV MENU */
  .mobile-menu-check:checked ~ .header-menus {
    max-height: 1000px;
  }

  .mobile-menu-check:checked ~ .show-mobile-menu:after {
    background-color: rgba(255, 255, 255, 0.7);
    color: #58d2b2;
    content: "CLOSE";
    left: 0;
    position: absolute;
    top: 0.8em;
    width: 100%;
    text-align: center;
  }

  nav input {
    display: none;
  }
}
